
/* 弹窗 */
.pop{
	position:fixed;
	z-index:999;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.3);
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	transition-duration:.3s;

	.content-wrapper{
		position:relative;
		z-index:999;
		display:flex;
		flex-direction:column;
		transition-duration:.3s;
		min-width:400px;
		border: 8px solid rgba(0,0,0,.7);
		background:#fff;
		overflow: hidden;
	}
	.close{
		position:absolute;
		right:10px;
		top:7px;
		padding: 2px 15px;
		background: #f30000;
		color: #fff;
		border-radius: 11px;
		height: 18px;
		line-height: 18px;
		font-size:12px;
		&:hover{
			background:red;
			color:#fff000;
			text-decoration:none;
		}
	}
	.title{
		height:35px;
		line-height:35px;
		margin-bottom: 5px;
		padding-left:15px;
		border-bottom: 1px solid #ddd;
		background: #f8f8f8;

	}
	.content{
		flex:1;
		height:100%;
		overflow:auto;
	}
	.footer{
		>div{
			display:flex;
			flex-direction:row;
			border-top:1px solid #ddd;
			padding:10px;
			justify-content: center;
		}
		.btn{
			display: block;
			height: 40px;
			line-height: 40px;
			padding:0 20px;
			border-radius: 5px;
			font-size: 14px;
			background: #fe651b;
			text-align: center;
			color: #fff;
			border: none;
			cursor: pointer;

			&.gray{
				background:#ccc;
				cursor:default;
			}
		}
	}
}
.transition{
	transition-duration:.3s;
	/*从上往下展示*/
	&.down-leave-active{
		opacity:1;
		.content-wrapper{
			opacity:0;
			transform:translateY(0);
		}
		&.down-leave-to{
			opacity:0;
			.content-wrapper{
				opacity:1;
				transform:translateY(-100%);
			}
		}
	}
	&.down-enter-active{
		opacity:0;
		.content-wrapper{
			opacity:1;
			transform:translateY(-100%);
		}
		&.down-enter-to{
			opacity:1;
			.content-wrapper{
				opacity:1;
				transform:translateY(0);
			}
		}
	}

	/*淡入淡出*/
	&.fade-enter-active, &.fade-leave-active {
		opacity: 1;
	}
	&.fade-enter, &.fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
		opacity: 0
	}
}