.header{
	height: 42px;
	line-height:42px;
	padding:0 10px;
	color:#fff;
	background:#212121;
}
.user-info{
	float:right;
	padding-right:20px;
	position:relative;
	z-index: 999;
	.list{
		display:none;
		position: absolute;
		right:20px;
		padding:10px 0;
		background:#fff;
		border:1px solid #ccc;

		li{
			padding:3px 20px;
			line-height: 22px;
			white-space:nowrap;
			color:#444;
			cursor:pointer;
			text-align:left;
			&:hover{
				background:#f2f2f2;
			};
		}
	}
	&:hover{
		.list{
			display:block;
		}
	};
}
.current-user{
	cursor: pointer;
	img{
		width:30px;
		height:30px;
		border-radius:100%;
		vertical-align: middle;
		margin-top:-2px;
	}
}
.leftside{
	.logo{
		span{
			line-height:20px;
			display:inline-block;
			padding:2px 5px;
			margin-right:3px;
			background:#2181e6;
		}
	}
}
