<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Import ES -->
    <!--<bean id="esearchClient" class="com.cn.cms.middleware.ESearchClient" destroy-method="close" init-method="open">
        <property name="clusterList">
            <list>
                <value>${essearch1.ip}</value>
            </list>
        </property>
        <property name="clusterName">
            <value>${essearch.cluster.name}</value>
        </property>
        <property name="timeout">
            <value>${transport.ping_timeout}</value>
        </property>
    </bean>-->
    <bean id="restSearchClient" class="com.cn.cms.middleware.RestSearchClient" destroy-method="close" init-method="open">
        <property name="clusterList">
            <list>
                <value>${essearch1.ip}</value>
            </list>
        </property>
        <property name="clusterName">
            <value>${essearch.cluster.name}</value>
        </property>
        <property name="timeout">
            <value>${transport.ping_timeout}</value>
        </property>
    </bean>

    <!-- Import Weedfs -->
    <bean id="weedfsClient" class="com.cn.cms.middleware.WeedfsClient">
        <property name="masterHost">
            <value>${weedfs.master.host}</value>
        </property>
        <property name="assign">
            <value>${weedfs.assign}</value>
        </property>
    </bean>
</beans>