.column-list{
	.tr:hover{
		.gray{
			background:#fff;
			color:#666;
		}
	}
}
.checkbox{
	padding:0 10px;
	border-radius:100px;
	background:#00cbfe;
	color:#fff;
	transition-duration:.3s;
	cursor:pointer;
	i{
		transition-duration:.3s;
	}
	&:hover{
		background:#00cbfe;
		color:#fff;
	}
	&:not(:first-child){
		margin-left:5px;
	}
	&.white{
		background:#fff;
		color:#666;
	}
	&.gray{
		background:#f8f8f8;
		color:#666;
	}
}