.column-list{
	.flex{flex:1;}
	.content{
		padding:0;
	}
	.tr{
		display:flex;
		height:35px;
		border-bottom:1px solid #ddd;
		align-items:center;
		transition-duration:.3s;
		box-sizing:border-box;
		overflow:hidden;
		.th,.td{
			display:flex;
			align-items:center;
			height:100%;
			padding:5px;
			box-sizing:border-box;
			&:first-child{ padding-left:20px;}
			&:last-child{ padding-right:20px;}
			&.center{
				text-align:center;
				justify-content:center;
			}
		}
		.th{
			font-weight:bold;
			background:linear-gradient(0, #f3f3f3 0%, #fff 50%);
		}

		&:last-child{ border-bottom:none;}
		&:hover{ background-color:#f3f9ff;}
		&.hide{
			height:0;
			border-bottom-width:0;
		}
	}
	.read,.update,.write,.delete{
		display:inline-block;
		margin:0 2px;
		font-size:12px;
		line-height:16px;
		padding:1px 3px;
		color:#fff;
		background:#01af05
	}
	.update{background-color:#01af9d;}
	.write{ background-color:#0074cd; }
	.delete{background-color:#ee3706;}
	.off{
		color:#0074cd;
		cursor:pointer;
		padding-right:5px;
	}
}