body, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table, th, td { margin: 0; padding: 0; }
address, cite, em, i { font-style: normal; }
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ 
    margin:0 auto; 
    color:#fff; 
    -webkit-appearance: none; 
    background:#fff; 
    font-family: "Microsoft YaHei","\5fae\8f6f\96c5\9ed1";
    color: #878C92;
}
li { list-style: none; }
html,body{ margin:0 auto;}
a { color:#535862; text-decoration: none; }
a:hover { color:#c40000; text-decoration: none; }
img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
input[type="button"], input[type="submit"], input[type="reset"] { cursor: pointer;-webkit-appearance: none; }
/* close commented backslash hack */
::-webkit-input-placeholder{ font-size:.75rem;  }
body{  background:#eee;-webkit-overflow-scrolling: touch; }
/* public */
input{outline: none;}
a{-webkit-tap-highlight-color:rgba(255,0,0,0);}
i{ 
    display:inline-block; 
    vertical-align: middle;
    margin-top:-2px; 
}
.middle{
    clear:both;
    width:1000px;
    margin:0 auto;
}
#APP{}

#Topbar{
    height:60px;
    color:#fff;
    .content{
        height:60px;
        line-height:60px;
        background-color:#333;
        &.fixed{
            position:fixed;
            left:0;
            top:0;
            width:100%;
        }
    }
    .logo{
        display:block;
        float:left;
        color:#fff;
        overflow:hidden;
        h1{ 
            display:inline-block;
            font-size:24px; 
         }
         .url{
            margin-left:3px;
            display:inline-block;
            height:23px;
            margin-top:-5px;
            padding:2px 10px 0;
            padding-top:3px;
            vertical-align: middle;
            text-align:center;
            font-size:12px;
            line-height:10px;
            background-color:#6d95d0;
         }
         /* .com{
            font-size:10px;
            vertical-align: sub;
         } */
    }
    .nav{
        float:left;
        margin-left:25px;
        padding-top:19px;
        h3{
            height:26px;
            line-height: 26px;
            padding:0 10px;
            font-weight: normal;
            background-color:#6d95d0;
            font-size:14px;
             cursor:pointer;
            span{
                 margin-right:5px;
            }
            i{ 
                display:inline-block;
                width:9px; 
                height:5px; 
                transition-duration:.3s;
                background:url(../images/common/common.png) no-repeat;
            }
            &:hover{
                i{ background-position:0 -5px;}
            }
        }
        &:hover{ 
            position:relative;
            z-index:998;
            .list{ display:block;}
        }
        .list{
            display:none;
            position:absolute;
            top:50px;
            left:-100px;
            width:500px;
            padding:20px;
            overflow: hidden;
            background:#f9f9f9;

            li{ 
                float:left;
            }
            a{
                font-size:12px;
            }
        }
    }
    .search{
        float:left;
        margin-left:25px;
        padding-top:15px;
        input{
            display:block;
            float:left;
            width:410px;
            height:27px; 
            line-height:27px;
            padding:3px 10px;
            background-color:#fff;
            border:none;
        }
        .btn{
            float:left;
            height:33px;
            line-height: 33px;
            margin-left:1px;
            padding:0 15px;
            font-size:14px;
            background-color: #6d95d0;
            cursor:pointer;
            i{
                width:24px;
                height:24px;
                margin-right:5px;
                background:url(../images/common/common.png) 0 -12px no-repeat;
            }
        }
    }
    .hostTag{
        float:left;
        padding-left:15px;
        a{ 
            color:#fff; 
            font-size:12px; 
            font-weight: normal;
        }
    }
}
