body, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table, th, td { margin: 0; padding: 0; }
address, cite, em, i { font-style: normal; }
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ 
    margin:0 auto; 
    color:#fff; 
    -webkit-appearance: none; 
    background:#fff; 
    font-size:14px;
    font-family: "Microsoft YaHei","\5fae\8f6f\96c5\9ed1";
    color: #878C92;
}
li { list-style: none; }
html,body{ margin:0 auto;}
a { color:#535862; text-decoration: none; }
a:hover { color:#c40000; text-decoration: underline; }
img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
input[type="button"], input[type="submit"], input[type="reset"] { cursor: pointer;-webkit-appearance: none; }
/* close commented backslash hack */
::-webkit-input-placeholder{ font-size:.75rem;  }
body{  background:#eee;-webkit-overflow-scrolling: touch; }
/* public */
input{outline: none;}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
     white-space: nowrap;
}
a{
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}
i{ 
    display:inline-block; 
    vertical-align: middle;
    margin-top:-2px; 
}
.middle{
    clear:both;
    width:1000px;
    margin:0 auto;
}
#APP{
    @extend .middle;
}

#Topbar{
    height:60px;
    color:#fff;
    .content{
        height:60px;
        line-height:60px;
        background-color:#333;
        &.fixed{
            position:fixed;
            left:0;
            top:0;
            width:100%;
        }
    }
    .logo{
        display:block;
        float:left;
        color:#fff;
        overflow:hidden;
        h1{ 
            display:inline-block;
            font-size:24px; 
         }
         .url{
            margin-left:3px;
            display:inline-block;
            height:23px;
            margin-top:-7px;
            padding:2px 10px 0;
            padding-top:3px;
            vertical-align: middle;
            text-align:center;
            font-size:12px;
            line-height:10px;
            background-color:#6d95d0;
         }
         /* .com{
            font-size:10px;
            vertical-align: sub;
         } */
    }
    .nav{
        float:left;
        margin-left:25px;
        padding-top:19px;
        h3{
            height:26px;
            line-height: 26px;
            padding:0 10px;
            font-weight: normal;
            background-color:#6d95d0;
            font-size:14px;
             cursor:pointer;
            span{
                 margin-right:5px;
            }
            i{ 
                display:inline-block;
                width:9px; 
                height:5px; 
                transition-duration:.3s;
                background:url(../images/common/common.png) no-repeat;
            }
            &:hover{
                i{ background-position:0 -5px;}
            }
        }
        &:hover{ 
            position:relative;
            z-index:998;
            .list{ display:block;}
        }
        .list{
            display:none;
            position:absolute;
            top:50px;
            left:-100px;
            width:500px;
            padding:20px;
            overflow: hidden;
            background:#f9f9f9;

            li{ 
                float:left;
            }
            a{
                font-size:12px;
            }
        }
    }
    .search{
        float:left;
        margin-left:25px;
        padding-top:15px;
        input{
            display:block;
            float:left;
            width:300px;
            height:27px; 
            line-height:27px;
            padding:3px 10px;
            background-color:#fff;
            border:none;
        }
        .btn{
            float:left;
            height:33px;
            line-height: 33px;
            margin-left:1px;
            padding:0 15px;
            font-size:14px;
            background-color: #6d95d0;
            cursor:pointer;
            i{
                width:24px;
                height:24px;
                margin-right:5px;
                background:url(../images/common/common.png) 0 -12px no-repeat;
            }
        }
    }
    .right{ 
        float:right; font-size:14px; 
        word-spacing:5px;
    }
    .share{
        display:inline-block;
        i{
            width:28px;
            height:26px;
            background:url(../images/common/common.png) 0 -39px no-repeat;
        }
    }
    .aside{
        display:inline-block;
        a{
             color:#fff;
        }
       
    }
}
#Nav{
    border:1px solid #ddd;
    margin-bottom:15px;
    padding:15px;
    background-color:#fff;
    font-size:16px;
    color:#555;
    font-weight: 700;
    a{
        margin-right:20px;
    }
}

#Search{
    padding:20px 0 15px;
    .menu{
        width:640px;
        margin:0 auto;
        padding-left:20px;
        font-size:14px;
        overflow:hidden;
        li{
            float:left;
            width:55px;
            height:38px;
            line-height: 38px;
            transition-duration:.3s;
            cursor:pointer;
            text-align: center;
            &.current{
                background-color:#6d95d0;
                color:#fff;
            }
        }
    }
     
    .input-text{
        width:660px;
        margin:0 auto 5px;
        padding-bottom: 20px;
        overflow: hidden;
    }
    input{
        display:block;
        float:left;
        width:540px;
        height:32px; 
        line-height:32px;
        padding:3px 10px;
        background-color:#fff;
        border:1px solid #6d95d0;
    }
    .btn{
        float:left;
        height:40px;
        line-height: 40px;
        padding:0 15px;
        font-size:16px;
        background-color: #6d95d0;
        cursor:pointer;
        color:#fff;
        i{
            width:24px;
            height:24px;
            margin-right:5px;
            background:url(../images/common/common.png) 0 -12px no-repeat;
        }
    }
    .hot-tag{
        padding:10px 20px 15px;
        border:1px solid #ddd;
        background-color:#fff;
        line-height: 25px;
        overflow:hidden;
        a{
            @extend .ellipsis;
            float:left;
            display: block;
            width:133px;
            height:25px;
            white-space:nowrap;
            margin-right:20px;
            color:#666;
            &.red{ color: #ff0000 }
        }
    }
    .item{
        float:left;
        width:470px;
        &.right{
            float:right;
        }
    }
    .title{ 
        height:25px;
        line-height: 25px;
        font-size:16px;
        color:#6d95d0;
        padding-bottom: 5px;
        overflow: hidden;
        a{
            width:auto;
        }
    } 
    a.more{
        float:right;
        margin-right: 0;
        font-size: 12px;
        color: #999;
        font-family: SimSun;
        &:hover{ color:#fc0000;}
    }
}
.module{
    .box{
        margin-bottom: 15px;
        padding:10px 20px;
        border:1px solid #ddd; 
        background-color:#fff;

        h2{ 
            height:33px;
            line-height: 33px;
            font-size:18px;
            color:#6d95d0;
            border-bottom: 1px solid #eaeaea;
        }
    }
    .more{
        float:right;
        font-size: 12px;
        color: #999;
        font-family: SimSun;
        &:hover{ color:#fc0000;}
    }
    .content{ padding-top:10px; }
    .new-resources{
        float: left;
        width:409px;
        height: 450px;
        overflow: hidden;
        ul{ overflow:hidden; }
        .line{ height:0; margin:5px 0; font: 0/0 arial; border-bottom: 1px dashed #ddd; }
        li{
            float:left;
            width:203px;
            line-height: 28px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:before{
                display:inline-block;
                content:".";
                width:3px;
                height:3px;
                margin-right: 5px;
                margin-top: -2px;
                vertical-align: middle;
                background-color:#999;
                text-indent: -9999px;
            };
        }
    }
    .new-video{
        float: left;
        width:226px;
        height: 455px;
        margin-left:15px;
        padding-bottom: 5px;
        overflow: hidden;
        .content{ padding-top:15px; }
        ul{
            float:left;
            width:240px;
            margin-left:-5px;
        }
        li{
            float:left;
            width:79px;
            margin-bottom: 13px;
            text-align: center;
            img{
                display: block;
                width:65px;
                height:100px;
                margin:0 auto 5px;
            }
            a{
                color:#3377aa;
            }
        }
    }
    .new-ranking{
        float: right;
        width: 210px;
        height: 450px;
        overflow: hidden;
        li{
            @extend .ellipsis;
            height:33px; 
            line-height: 33px;
            border-bottom:1px solid #ddd;
            &.last{ border-bottom:none;}
        }
        span{ 
            display: inline-block; 
            width:25px;
            text-align: center;
            font-size:12px;
        }
        a{
            color:#3377aa;
        }
    }
}