body{
	background:#000;
    background-image:radial-gradient(ellipse at top, rgb(33, 86, 206) 4%,rgb(0, 0, 0));
    background-repeat:no-repeat;
    background-position:center 80%;
}
.login-container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.login{
    width:200px;
    padding:30px;
    background:rgba(0,0,0,.6);
    text-align: center;
    color:#fff;
    .logo{
        padding-bottom:10px;
        font-size:15px;
    }
}
.form{
    .item{
        display:flex;
        flex-direction:row;
        padding:5px 0;
        overflow:hidden;
    }
    .input{
        flex:1;
    }
    .text{
        display:block;
        width:100%;
        line-height: 18px;
        padding:5px 5px;
        border:none;
        box-sizing:border-box;
        transition-duration:.3s;
        background:rgba(255,255,255,.3);

        &::-webkit-input-placeholder{
            color:rgba(255,255,255,.2)
        }
        &:hover{
            background:rgba(255,255,255,.5);
            &::-webkit-input-placeholder{
                color:rgba(255,255,255,.5);
            }
        }
    }
    .code{
        img{
            height:28px;
        }
    }
    .submit{
        padding-top:10px;
        .btn{
            height:33px;
            line-height: 33px;
            border-radius:5px;
            background:#e62000;
            cursor:pointer;
        }
    }
}