body{
	background:#000;
    background-image:url('../../images/jingyu.png'), radial-gradient(ellipse at top, rgb(33, 86, 206) 4%,rgb(0, 0, 0));
    background-repeat:no-repeat;
    background-position:center 80%;
}
.login-container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.login{
    padding:30px;
    background:rgba(0,0,0,.6);
    text-align: center;
    color:#fff;
    .logo{
        padding-bottom:10px;
        font-size:15px;
    }
}
.form{
    .item{
        padding:5px 0;
        overflow:hidden;
    }
    .input{
        float:left;
    }
    .text{
        height:18px;
        line-height: 18px;
        padding:5px 5px;
        border:none;
        border-radius:3px;
        transition-duration:.3s;
        background:rgba(255,255,255,.7);
        &:hover{
            background:#fff;
        }
    }
    .submit{
        padding-top:10px;
        .btn{
            height:33px;
            line-height: 33px;
            border-radius:5px;
            background:#e62000;
            cursor:pointer;
        }
    }
}